body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ffcccb, #ffe6e6);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

.center-gif {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
    font-size: larger;
    margin: 20px 0;
}
.bold-tex {
    font-weight: bold;
    font-size: small;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    height: 100px; /* Added height to constrain the movement */
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease; /* Added transform transition */
}

.btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hover-move {
    position: absolute;
    transition: transform 0.2s ease;
}
.btn-yes-btn{
    height: 10px;
}